
.view{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: 100% 100%;
    margin: 0 0 -11px 0;
}

.view> header> h1{
    padding-top: 8px;
}
/* --------------- first view ------------------ */

.first{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)) , url("../images/dark4.jpg");
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 25px;
}

.slider-view-one{
    display: none;
}

.first nav{
    position: relative;
    height: auto;
    top: 4%;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.header01{
    flex-basis: 35%;
    padding-left: 5%;
}

.header01 h2{
    /*font-family: "Bradley Hand ITC", serif;*/
    font-family: 'Vollkorn SC', serif;
    font-weight: bold;
    padding-left: 3%;
    padding-top: 1%;
    font-size: 1.2em;
}

.first .myName{
    position: relative;
    font-family: 'Vollkorn SC', serif;
    margin: 0 10px 0 10px;
    font-size: 1.26vw;
    left: 35%;
    top: 19vh;
    z-index: 1;
    display: inline-block;
}

.first .myName h1{
    font-size: 2.8em;
    color: #bdbdbd;
    font-family: "Vollkorn SC", serif;
}

.first .myName p{
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    font-size: 0.9em;
    color: #e5e5e5;
    font-family: "Vollkorn SC", serif;
}

.menu-expand{
    width: 50px;
    position: absolute;
    right: 70px;
    display:none;
}

.menu-expand > img{
    width: 30px;
}

.nav-links{
    flex: 1;
    max-width: 56%;
    text-align: right;
    position: relative;
    font-size: 0.8em;
    right: 1%;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2.6%;
}

.nav-links ul li a{
    color: #cdcbcb;
    position: relative;
    text-decoration: none;
    font-family: "Vollkorn SC", serif;
    font-size: 0.8em;
}

.nav-links ul li a:after{
    content: "";
    position: absolute;
    background-color: #bad3f1;
    height: 3px;
    width: 0;
    left: 3px;
    bottom: -10px;
    transition: 0.3s;
}

.nav-links ul li a:hover:after{
    width: 100%;
    color: #bad3f1;
    font-size: 30px;
}

.nav-links ul li a:hover{
    color: #bad3f1;
}

.first .information{
    width: 67.5vw;
    height: 100vh;
    position:absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

.myPhoto{
    width: 28%;
    /* height: 28%; */
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 33%;
    transform: translateY(-50%);
    z-index: 1;;
}

.overlay {
    width: 0;
    height: 0;
    border-top: 50vh solid #ffffff91;
    border-right: 30vw solid transparent;
    border-bottom: 50vh solid #b7b7b7c9;
    border-left: 30vw solid #9d9d9d9e;
    position: absolute;
    left: 0;
    top: 0;
}

.overlay h1{
    color: thistle;
}

@media all and (min-width: 768px) and (max-width: 1024px){
    .slider-view-one{
        display: none;
    }

    .header01 {
        flex-basis: 32%;
        padding-left: 5%;
        width: 43vw;
    }

    .nav-links{
        padding-left: 5px;
        max-width: 62%;
    }

    .nav-links ul li {
        margin: 0 2%;
        font-size: 0.9em;
    }

    .first .myName {
        font-size: 0.5em;
        left: 39%;
        top: 20vh;
        width: 40vw;
    }

    .myPhoto{
        width: 212px;
        left: 25%;
    }

}

@media all and (min-width: 630px) and (max-width: 768px) {

    .header01 {
        flex-basis: 36%;
    }

    .nav-links{
        padding-left: 5px;
        max-width: 63%;
    }

    .nav-links ul{
        padding-left: 0;
    }

    .nav-links ul li {
        margin: 0 2%;
        font-size: 0.8em;
    }

    .first .myName {
        font-size: 1.4vw;
        left: 39%;
        top: 22vh;
        width: 34vw;
    }

    .myPhoto {
        width: 200px;
        top: 52%;
        left: 25%;
    }
}

@media all and (min-width: 480px) and (max-width: 630px){
    .menu-expand{
        display: block;
    }

    .slider-view-one{
        position: absolute;
        border: 2px solid wheat;
        top: 3vh;
        color: black;
        background-color: #1e1e1ef7;
        width: 95vw;
    }

    .slider-view-one > .menu-hide{
        transform: rotate(-90deg);
        height: 30px;
        background-color: black;
        position: absolute;
        right: 10vw;
        top: 5vh;
    }

    .slider-view-one > .menu-hide > img{
        position: relative;
        width: 10px;
    }

    .slider-view-one > ul{
        top: 8vh;
        position: relative;
        color: black;
        height: 80vh;
    }

    .slider-view-one > ul > li{
        padding-top: 5vh;
        padding-left: 20vw;
        font-size: 0.9em;
    }

    .slider-view-one > ul > li > a{
        color: rgba(255, 255, 255, 0.69);
    }

    .nav-links{
        display: none;
    }

    .header01{
        margin-right: auto;
    }

    .first .myName{
        font-size: 0.45em;
        left: 40%;
        top: 18vh;
        z-index: -1;
    }

    .myPhoto {
        width: 150px;
        top: 52%;
        left: 29%;
    }
}

@media all and (max-width: 480px){
    .menu-expand{
        display: block;
    }

    .slider-view-one{
        display: none;
        position: absolute;
        border: 2px solid wheat;
        top: 3vh;
        color: black;
        background-color: #1e1e1ef7;
        width: 95vw;
    }

    .slider-view-one > .menu-hide{
        transform: rotate(-90deg);
        height: 30px;
        background-color: black;
        position: absolute;
        right: 10vw;
        top: 5vh;
    }

    .slider-view-one > .menu-hide > img{
        position: relative;
        width: 10px;
    }

    .slider-view-one > ul{
        top: 8vh;
        position: relative;
        color: black;
        height: 80vh;
    }

    .slider-view-one > ul > li{
        padding-top: 5vh;
        padding-left: 20vw;
        font-size: 0.9em;
    }

    .slider-view-one > ul > li > a{
        color: rgba(255, 255, 255, 0.69);
    }

    .nav-links{
        display: none;
    }

    .header01{
        margin-right: auto;
    }

    .header01 h2{
        font-size: 1em;
    }

    .first .myName{
       display: none;
    }

    .myPhoto {
        top: 51%;
        left: 22%;
        width: 140px;
    }
}


    /*------------ Second view --------------*/

.second{
    background-position: -15% 20%;
    background-color: #000000;
    color: white;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)) , url("../images/progress1.jpg");
    backdrop-filter: blur(8px);
}

.header02 h1{
    margin-top: 0.5em;
    margin-bottom: 1%;
    flex-basis: 30%;
    padding-left: 3%;
    font-family: "Work Sans", serif;
    font-size: 1.3em;
    text-decoration: none;
}

.second  .sub-header{
    height: 4%;
    background-color: #0c0c0c;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sub-header h2{
    text-align: center;
    font-family: "Work Sans", serif;
    font-size: 1.2em;
    padding-top: 1%;
}

.second #details{
    margin-top: 1%;
    background-color: transparent;
    position: absolute;
    height: 80%;
}

.second .mySlides{
    height: 100%;
}

.split {
    height: 100%;
    width: 100%;
    position:relative;
    padding-top: 20px;
}

.left {
    left: 4%;
    width: 42%;
    float: left;
}

.right {
    right: 4%;
    width: 50%;
    float: right;
    height: 100%;
    font-size: 20px;
}

.right:before{
    content: '';
    background: #fff;
    position: absolute;
    z-index: -1;
    transform: skew(2deg,2deg);
}

.right p{
    letter-spacing: 0.1em;
    text-align: justify;
    color: #f1ececd1;
    font-family: "Vollkorn SC", serif;
    font-size: 0.7em;
}

.left img{
    border-radius: 8px;
}

.split button{
    left: 70%;
    top: 6%; /*here*/
    position: relative;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 0.8em;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #666363;
    height: 7vh; /*here*/
    width: 11vw; /*here*/
}

#details .slide-left{
    width:30px;
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    top: 43%;
    background-color: #404040;
    border: unset;
}

#details .slide-right{
    width:30px;
    transform: rotate(270deg);
    position: absolute;
    left: 10px;
    top: 43%;
    background-color: #404040;
    border: unset;
}

.slide-left::after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

@media all and (min-width: 500px) and (max-width: 768px){
    .left {
        height: 55%;
        width: 92vw;
    }
    .left > img{
        width:300px;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
    }

    .split{
        padding-top: 0;
    }

    .right {
        width: 83%;
        position: relative;
        float: none;
        left: 9vw;
        height: 60%;
    }

    .right p{
        letter-spacing: 0.1em;
        word-spacing: 0.2em;
        font-family: "Vollkorn SC", serif;
        text-align: justify;
        font-size: 0.6em;
    }

    .right > p:nth-child(3){
        position: relative;
        bottom: 20px;
    }

    .split button {
        left: 70%;
        top: -5%;
        margin: 4px 2px;
        height: 4vh;
        width: 20vw;
        font-size: 0.5em;
    }

}

@media all and (max-width: 500px){
    .left {
        padding-top: 20px;
        height: 40%;
        width: 88vw;
    }

    .left > img{
        width:260px;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
    }

    .sub-header h2{
        text-align: center;
        font-family: "Work Sans", serif;
        font-size: 1.1em;
        padding-top: 1%;
    }

    .split{
        padding-top: 0;
    }

    .right {
        width: 77%;
        top: 3vh;
        height: 60%;
        float: none;
        left: 12vw;
    }

    .right p{
        font-size: 0.5em;
    }

    .right > p:nth-child(3){
        position: relative;
        bottom: 20px;
    }

    .split button {
        left: 70%;
        top: -5%;
        margin: 4px 2px;
        height: 4vh;
        width: 20vw;
        font-size: 0.5em;
    }
}

/*-------------- Third view -------------*/

.third{
    background-position: -15% 20%;
    color: white;
    /*background-image:  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)) , url("../images/myBlack.jpeg");*/
    backdrop-filter: blur(20px);
    background-color: black;
}

.header03 h1{
    margin-top: 0.5em;
    margin-bottom: 1%;
    flex-basis: 30%;
    padding-left: 3%;
    font-family: "Work Sans", serif;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

.progress{
    margin: 100px auto;
    position: absolute;
    height: 60vh;
    width: 92vw;
    left: 3vw;
    overflow: hidden;
    background-color: transparent;
}

.progress ul{
    background-color: transparent;
    position: relative;
    height: 100%;
    width: 150vw;
    margin: 0;
    padding: 0;
}

.progress ul li{
    text-align: center;
    display: inline-block;
    width: 19vw;
    position: relative;
    height: 45vh;
    margin: 0 35px 0 0;
    font-size: 16px;
}

.progress img{
    margin-bottom: 20px;
}

.progress ul li h2{
    position: relative;
    color: white;
    margin: 0 5px 25px 0;
    font-size: 1.2em;
}

.progress ul li p{
    position: relative;
    text-align: center;
    background: transparent;
    height: 120px;
    color: #c4c4c4;
}

.progress ul li .fa{
    background: #cccccc;
    width: 30px;
    height: 22px;
    color: #ffffff;
    border-radius: 40%;
    padding-top: 3px;
}

.progress ul li .fa-check-square-o{
    /*width: 20px;*/
}

.progress ul li .fa::after{
    content: '';
    background: #c4c4c4;
    height: 5px;
    width: 25vw;
    display: block;
    position: relative;
    top: -8px;
    left: 6px;
    z-index: -1;
}

.progress ul li:nth-child(3) .fa{
    background-color: red;
}

.progress ul li:nth-child(1) .fa::after, .progress ul li:nth-child(2) .fa::after{
    background-color: deepskyblue;
}

.progress ul li:nth-child(3) .fa::after{
    background-color: red;
}

.progress ul li:nth-child(1) .fa,
.progress ul li:nth-child(2) .fa{
    background: deepskyblue;
}

@keyframes slider{
    0%,25%{
        right: 0;
    }

    50%,75%{
        right: 15vw;
    }
    100%{
        right: 40vw;
    }
}

@media all and (min-width: 500px) and (max-width: 1600px){

    .progress ul {
        width: max-content;
        animation-name: slider;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .progress ul li h2 {
        margin: 11px 0 25px 0;
        font-size: 2vw;
    }

    .progress ul li p {
        font-size: 0.8em;
    }

    .progress ul li {
        height: 45vh;
        margin: 21px 35px 0 0;
    }
    .progress ul li .fa-check-square-o {
        width: 26px;
    }

    .progress {
        margin: 120px auto;
        height: 64vh;
    }
}

@media all and (max-width: 500px){
    .progress ul li {
        text-align: center;
        width: 49vw;
        position: relative;
        height: 38vh;
        margin: 0 35px 0 100px;
        font-size: 16px;
        animation-name: none;
    }

    .progress ul {
        height: 70%;
        width: 90vw;
    }

    .progress {
        margin: 60px auto;
        position: absolute;
        height: 75vh;
        width: 92vw;
        left: 3vw;
        overflow: scroll;
    }

    .progress ul li .fa {
        display: none;
        background: deepskyblue;
    }
}

@keyframes slider2{
    from{
        right: 0;
    }
    to{
        right: 0;
    }
}
/*-------------- Fourth view -------------*/

.fourth{
    background-position: -15% 20%;
    background-color: #000000;
    color: white;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.8)) , url("../images/hand1.jpg");
    backdrop-filter: blur(8px);
}

.header04 h1{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 30%;
    padding-left: 30px;
    font-family: "Work Sans", serif;
    font-size: 24px;
    text-decoration: none;
}

.fourth main{
    top: 3vh;
    color: #c3c3c3;
    overflow-y: scroll;
    width:72vw;
    max-height: 83vh;
    float: right;
    background-color: transparent;
    position: relative;
}

.fourth main::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(20 15 15);
    background-color: #120d0d
}

.fourth main::-webkit-scrollbar
{
    width: 3px;
    background-color: #282828;
}

.fourth main::-webkit-scrollbar-thumb
{
    background-color: #53555c;
    border: 2px solid #555555;
}

.tech{
    min-height: 10vh;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.tech>div{
    width: 18%;
    float: left;
    height: 100%;
    background-color: transparent;
}

.tech>div>img{
    float: left;
    height: 100%;
    padding-top: 8vh;
    background-color: transparent;
}

.tech ul{
    width: 28vw;
    margin-top: 10vh;
    padding-left: 60px;
    position: relative;
    font-size: 1.1vw;
}

.tech .skill{
    position: relative;
    height: 100%;
    width: 21vw;
    top: 15vh;
}

#number, #number2, #number3 , #number4, #number5, #number6{
    font-weight: bolder;
    color: #1f8eaa;
    position: absolute;
    left: 4vw;
    /*top: 1vh;*/
    z-index: 1;
}

.progress-value {
    /*animation: load 3s normal forwards;*/
    box-shadow: 0 10px 40px -10px rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.87);
    height: 3vh;
    position: relative;
    bottom: 0.2vh;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 68%; }
}

@keyframes anim{
    100%{
        /*stroke-dashoffset: 140; !* 17vw;*!*/
        stroke-dashoffset: 120%;
    }
}

@media all and (min-width: 620px) and (max-width: 1024px){
    .fourth main {
        width: 80vw;
        float: none;
        left: 20vw;
    }

    .tech .skill {
        width: 22vw;
        top: 14vh;
        left: 5vw;
    }

    #number, #number2, #number3, #number4, #number5, #number6 {
        left: 5vw;
        bottom: 1vh;
        font-size: 0.8em;
    }

    .tech ul {
        margin-top: 9vh;
        font-size: 1.6vw;
    }

    .progress-value {
        height: 2.4vh;
        bottom: 1vh;
    }
}

@media all and (min-width: 460px) and (max-width: 620px){
    .fourth main {
        width: 84vw;
        float: none;
        left: 15vw;
    }

    .tech{
        overflow-x: hidden;
    }

    .tech .skill {
        width: 25vw;
        top: 14vh;
        left: 5vw;
    }

    #number, #number2, #number3, #number4, #number5, #number6 {
        left: 5vw;
        bottom: 1vh;
        font-size: 0.8em;
    }

    .tech ul {
        margin-top: 9vh;
        font-size: 1.8vw;
        width: 27vw;
    }

    .progress-value {
        height: 2.4vh;
        bottom: 1vh;
    }
}

@media all and (max-width: 460px){
    .tech {
        display: flex;
        flex-direction: column;
        height: 55vh;
    }

    .fourth main {
        top: 2vh;
        width: 73vw;
        max-height: 83vh;
        left: 23vw;
        float: left;
    }

    .tech>div {
        width: 46%;
        background-color: transparent;
        padding-left: 11vw;
        height: auto;
    }

    .tech ul {
        width: 54vw;
        margin-top: 7vh;
        padding-left: 4vw;
        position: relative;
        font-size: 0.9em;
    }

    .tech .skill {
        position: relative;
        height: 100%;
        width: 47vw;
        top: 2vh;

    }

    .progress-value {
        animation: load 3s normal forwards;
        height: 3vh;
        right: 9vw;
        bottom: 0.2vh;
    }

    #number, #number2, #number3, #number4, #number5, #number6 {
        left: 14vw;
    }

    .tech>div>img {
        margin-left: -14px;
        position: relative;
        height: 14vh;
    }

    .img-one{
        height: 18vh;
    }

}

/*------------ Fifth view --------------*/

.fifth{
    background-position: -15% 20%;
    background-color: #000000;
    color: white;
    /*background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.8)) , url("../images/cod9.jpg");*/
}

.header05 h1{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 30%;
    padding-left: 30px;
    font-family: "Work Sans", serif;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.fifth main {
    top: 5vh;
    color: #ffffff;
    overflow: hidden;
    width: 90vw;
    /*max-height: 79vh;*/
    margin-left: 8vw;
    background-color: transparent;
    position: relative;
    display: inline-block;
}

.fifth main .stack {
    display: grid;
    width: auto;
    height: 78vh;
    overflow-y: hidden;
    /*overflow-x: scroll;*/
    grid-column-gap: 2vw;
    grid-template-columns: auto auto auto;
}

.fifth main .stack img{
    width: 19vw;
}

/*-------------*/

.stack >div {
    position: relative;
}
.stack >div::before {
    position: absolute;
    top: 0;
    left: 6%;
    z-index: 2;
    display: block;
    content: '';
    width: 30%;
    height: 50%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.stack >div:hover::before {
    -webkit-animation: shine .95s;
    animation: shine .95s;
    /*animation-direction: alternate;*/
    animation-iteration-count:1;
    animation-direction: inherit;
}
@-webkit-keyframes shine {
    0%{
        left: 0;
    }
    40%{
        left: 30%;
    }
    100% {
        left: 0;
    }
}
@keyframes shine {
    0%{
        left: 0;
    }
    40%{
        left: 30%;
    }
    100% {
        left: 0;
    }
}

@media all and (min-width: 500px) and (max-width: 768px){
    .fifth main .stack img{
        width: 30vw;
    }

    .fifth main .stack {
        height: 78vh;
        margin-left: 8vw;
        grid-template-columns: 1fr 1fr;
        row-gap: 8vh;
        overflow: scroll;
    }

    .stack >div::before {
        width: 60%;
        height: 90%;
    }
}

@media all and (max-width: 500px){
    .fifth main .stack img{
        width: 65vw;
        padding-left: 1.2vw;
    }

    .fifth main {
        margin-left: 10vw;
        width: 85vw;
    }

    .stack >div {
        position: relative;
        padding-left: 12vw;
    }

    .fifth main .stack {
        overflow-x: hidden;
        width: 85vw;
        overflow-y: scroll;
        grid-template-columns: 1fr;
        row-gap: 8vh;
    }

    .stack >div::before {
        width: 60%;
        height: 90%;
    }
}
/*------------ sixth view --------------*/

.sixth{
    background-position: -15% 20%;
    background-color: #000000;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)) , url("../images/dark2.jpg");
    color: white;
    margin: 0;
}

.search-bar input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 17px;
    border: 1px solid #ccc;
}

.search-bar{
    position: absolute;
    height: 6vh;
    padding-left: 5vw;
    padding-top: 3vh;
    width: 20vw;
    display: inline;
}

.search-bar> form{
    width: 10vw;
}

#languages{
    width: 250px;
    height : 30px;
    background-color: #505050;
    color: white;
}

#languages option {
    height : 30px;
    width: 250px;
}

.search-bar > form > hr{
    margin-top: 2vh;
    width: 90vw;
}

.underline2{
    color: white;
    position: absolute;
    top: 11vh;
    right: 8vw;
}

.header06 h1{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 30%;
    padding-left: 30px;
    font-family: "Work Sans", serif;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.sixth > main{
    position: absolute;
    width: 90vw;
    height: 75vh;
    top: 20vh;
    left: 5vw;
    overflow: hidden;
    background-color: transparent;
    /*border: 5px solid white;*/
}

.project-slider{
    position: absolute;
    width: 90vw;
    height: 75vh;
    display: flex;
    transition: all 0.4s;
    color: #c5c5c5;
}

.slideView {
    width: 90vw;
    height: 75vh;
    display: flex;
    top: 19vh;
    left: 5vw;
    gap: 4vw;
}

.slideView >section{
    width: 28vw;
    background-color: rgba(125, 125, 125, 0.4);
    border-radius: 40px
}

.slideView  >section > h2{
    text-align: center;
}

.slideView  >section > img{
    width: 22vw;
    height: 27vh;
    filter: brightness(85%) contrast(120%) saturate(150%);
    margin-left: 2.6vw;
    border-radius:8%;
}

.slideView  >section > ul{
    list-style-type: none;
    padding-left: 4vw;
    height: 18vh;
}

.slideView  >section > ul > li{
    margin-top: 13px;
}

.slideView  >section > ul > li > i{
    margin-right: 10px;
}

.sixth .left-sliding{
    width:30px;
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    top: 48%;
    background-color: #404040;
    border: unset;
}

.sixth .right-sliding{
    width:30px;
    transform: rotate(270deg);
    position: absolute;
    left: 10px;
    top: 48%;
    background-color: #404040;
    border: unset;
}

.slideView  >section >p{
    position: absolute;
    padding-left: 4vw;
    font-size: 1em;
    width: 19vw;
}

/*
.slideView >section >p>a{
    text-decoration: none;
    color: #0074D9;
}
*/

.slideView  >section >p> i{
    padding-right: 10px;
}

.slideView  >section >p> a{
    text-decoration: none;
    color: #0074D9;
    padding-left: 27px;
    font-size: 1em;
    top: 1vh;
}

.underline{
    position: relative;
}

.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
        left: 0;
        right: auto;
        width: 120%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px){
    .slideView >section > img {
        height: 19vh;
    }

    .slideView >section > h2 {
        text-align: center;
        font-size: 1.2em;
    }
}

@media all and (min-width: 575px) and (max-width: 768px){

    .slideView >section > h2 {
        text-align: center;
        font-size: 0.8em;
    }
    .slideView >section > img {
        height: 17vh;
    }
    .slideView >section > ul {
        height: 21vh;
        font-size: 0.7em;
    }
    .slideView >section >p {
        position: absolute;
        padding-left: 4vw;
        font-size: 0.7em;
        width: 19vw;
    }

    .slideView >section >p> a {
        padding-left: 27px;
        font-size: 1.1em;
    }

    .sixth .left-sliding {
        width: 22px;
        right: 7px;
        top: 52%;
    }

    .sixth .right-sliding {
        width: 22px;
        top: 52%;
        border: unset;
    }
}

@media all and (min-width: 350px) and (max-width: 575px) {

    .search-bar{
        display: none;
    }

    .project-slider {
        position: absolute;
        width: 200vw;
        display: flex;
        transition: all 0.4s;
    }

    .slideView {
        min-width: 83vw;
        padding-left: 5vw;
        padding-right: 2vw;
        overflow-y: auto;
        height: 80vh;
        display: flex;
        flex-direction: column;
        top: 19vh;
        /* left: 29vw; */
        gap: 16vw;
    }

    .slideView > section {
        width: 79vw;
        background-color: rgba(87, 87, 87, 0.56);
        border-radius: 40px;
    }

    .slideView > section > img {
        width: 63vw;
        padding-left: 7.6vw;
        border-radius: 0;
    }

    .slideView > section > ul {
        padding-left: 10vw;
        height: 18vh;
    }

    .slideView > section > p {
        padding-left: 10vw;
        font-size: 0.9em;
        width: 50vw;
        position: relative;
    }

    .slideView > section > p > a {
        padding-left: 4vw;
        font-size: 1.1em;
    }

    .slideView > section > ul > li {
        font-size: 0.9em;
    }
}



/*------------ seventh view --------------*/

.seven{
    background-position: -15% 20%;
    background-color: #000000;
    color: #d3d0d0;
    /*background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.8)) , url("../images/myBlack3.jpeg");*/
    width: 100%;
    height: 113vh;
    position: relative;
    overflow: hidden;
    background-size: 100% 100%;
}

.header07 h1{
    margin-top: 0.5em;
    margin-bottom: 1%;
    flex-basis: 30%;
    padding-left: 3%;
    font-family: "Work Sans", serif;
    font-size: 24px;
    text-decoration: none;
}

.seven main{
    height: 90vh;
    display: flex;
    column-gap: 20px;
}

.seven .side-left{
    float: left;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 38vw;
    height: 77vh;
    top: 7vh;
    padding-left: 2vw;
}

.seven .side-right{
    height: 80vh;
    float: right;
    width: 56%;
    position: relative;
    padding-top: 5vh;
    right: 0.8vw;
}

.seven .side-right p{
    letter-spacing: 2px;
    word-spacing: 1px;
    font-family: "Vollkorn SC", serif;
    text-align: justify;
    font-size: 1em;
    position: relative;
    top: 3vh;
}

.seven .side-right div a{
    position: relative;
}

.seven .side-left #btn-call-me{
    position: relative;
    top: 3vh;
    background-color: rgba(139, 112, 61, 0.66);
    border-color: rgba(154, 121, 64, 0.78);
    color: #e0e0e0;
}

.seven .side-left #btn-gmail{
    position: relative;
    top: 3vh;
    background-color: rgba(116, 55, 55, 0.43);
    border-color: rgba(88, 48, 48, 0.8);
    color: #e0e0e0;
}

.seven .side-left #btn-whatsapp{
    position: relative;
    top: 3vh;
    background-color: rgba(30, 75, 35, 0.54);
    border-color: rgba(38, 73, 29, 0.85);
    color: #e0e0e0;
}

.seven > hr{
    position: relative;
    bottom: 30px;
}

.seven footer p:nth-child(2){
    position: relative;
    top: 9px;
}

.seven footer{
    position: absolute;
    height: 70px;
    bottom: 35px;
    text-align: center;
    padding-left: 28%;
}

.side-left >img{
    position: relative;
    left: 3vw;
    width: 32vw;
    top: 3vh;
}

.side-left button{
    width: 32vw;
    left: 3vw;
    height: 5vh;
}

.logos{
    display: flex;
    flex-direction: row;
    top: 30vh;
    left: 35vw;
    position: relative;
}

.logos a{
    width: 7vw;
    height: 11vh;
}

.logos > a > img{
    width: 4vw;
    top: 2vh;
    position: relative;
    left: 1.4vw;
}

.logos > a:nth-child(2) > img{
    width: 3vw;
    top: 2vh;
    position: relative;
    left: 1.4vw;
}

.logos > a:nth-child(3) > img{
    width: 5vw;
    top: 2vh;
    position: relative;
    left: 1vw;
}

@media all and (min-width: 525px) and (max-width: 768px){
    .seven .side-right {
        height: 80vh;
        width: 50%;
        font-size: 0.8em;
    }
    .seven .side-left {
        width: 42vw;
    }

    .side-left >img {
        position: relative;
        left: 3vw;
        width: 37vw;
        top: 4vh;
    }

    .side-left button {
        width: 37vw;
        left: 3vw;
        height: 4.5vh;
    }

    .seven .side-left #btn-whatsapp {
        top: 10vh;
    }

    .seven .side-left #btn-gmail {
        top: 8vh;
    }

    .seven .side-left #btn-call-me {
        top: 6vh;
    }

    .logos {
        top: 24vh;
        left: 23vw;
    }

    .seven footer {
        height: 15vh;
        bottom: 0;
        width: 96vw;
        padding-left: 2%;
    }
    .logos a {
        width: 10vw;
        height: 11vh;
    }

    .logos > a > img {
        width: 6vw;
    }
}

@media all and (max-width: 525px){

    .seven{
        background-image: none;
    }
    .seven .side-left {
        float: left;
        width: 95vw;
        height: 27vh;
        top: 7vh;
        font-size: 0.6em;
    }

    .side-left >img {
        left: 4vw;
        width: 53vw;
    }

    .side-left button {
        position: absolute;
        bottom: 24vh;
        width: 27vw;
        left: 63vw;
        height: 5vh;
    }

    .seven .side-left #btn-call-me {
        top: 4vh;
        height: 3vh;
        position: absolute;
        /* top: 4vh; */
    }

    .seven .side-left #btn-gmail{
        top: 10vh;
        height: 3vh;
        position: absolute;
    }

    .seven .side-left #btn-whatsapp{
        top: 17vh;
        height: 3vh;
        position: absolute;
    }

    .seven main {
        display: flex;
        height: 88vh;
        flex-direction: column;
    }

    .seven .side-right {
        height: 60vh;
        width: 90%;
        padding-top: 5vh;
        padding-left: 6vw;
        font-size: 0.6em;
    }

    .logos {
        top: 15vh;
        left: 4vw;
    }

    .logos a {
        width: 11vw;
    }

    .logos > a > img {
        width: 6vw;
    }

    .seven footer {
        height: 18vh;
        bottom: 0;
        padding-left: 1%;
        font-size: 0.8em;
    }
}
