
.view{
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: 100% 100%;
    margin: 0;
}

/* --------------- first view ------------------ */

.first{
    margin:0 0 1% 0;
    background-image: url('../images/cod9.jpg');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: -15% 20%;
    font-size: 15px;
}

.first nav{
    position: relative;
    height: auto;
    top: 4%;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.header01{
    flex-basis: 40%;
    padding-left: 2%;
}

.header01 h2{
    font-family: "Work Sans", serif;
    font-weight: bold;
    padding-left: 3%;
    padding-top: 1%;
    font-size: 1.52em;
}

.first .myName{
    position: relative;
    font-family: 'Vollkorn SC', serif;
    margin: 0 10px 0 10px;
    font-size: 1.26vw;
    left: 6%;
    top: 3%;
    z-index: 1;
    display: inline-block;
}

.first .myName h1{
    font-size: 2.8em;
    color: #927341;
    font-family: "Vollkorn SC", serif;
}

.menu-expand{
    width: 50px;
    position: absolute;
    right: 70px;
    display:none;
}

.menu-expand > img{
    width: 30px;
}

.nav-links{
    flex: 1;
    max-width: 56%;
    text-align: right;
    position: relative;
    font-size: 1.3em;
    right: 1%;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2.6%;
}

.nav-links ul li a{
    color: #cdcbcb;
    position: relative;
    text-decoration: none;
    font-family: "Vollkorn SC", serif;
    font-size: 0.8em;
}

.nav-links ul li a:after{
    content: "";
    position: absolute;
    background-color: #bad3f1;
    height: 3px;
    width: 0;
    left: 3px;
    bottom: -10px;
    transition: 0.3s;
}

.nav-links ul li a:hover:after{
    width: 100%;
    color: #bad3f1;
    font-size: 30px;
}

.nav-links ul li a:hover{
    color: #bad3f1;
}

.first .information{
    width: 67.5vw;
    height: 100vh;
    position:absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

.myPhoto{
    width: 30%;
    /*height: 28%;*/
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 37%;
    transform: translateY(-50%);
    z-index: 1;;
}

.overlay {
    width: 0;
    height: 0;
    border-top: 50vh solid #ffffff;
    border-right: 30vw solid transparent;
    border-bottom: 50vh solid #ffffff;
    border-left: 30vw solid #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}

.overlay h1{
    color: thistle;
}

@media all and (min-width: 768px) and (max-width: 1024px){

    .header01 {
        flex-basis: 36%;
    }

    .nav-links{
        padding-left: 5px;
        max-width: 62%;
    }

    .nav-links ul li {
        margin: 0 2%;
        font-size: 0.9em;
    }

    .overlay {
        border-left: 30vw solid #ffffff;
    }

    .first .myName {
        font-size: 1.4vw;
        left: 8%;
        top: 4%;
        width: 20vw;
    }

    .myPhoto{
        width: 212px;
        left: 30%;
    }

}

@media all and (min-width: 630px) and (max-width: 768px) {

    .header01 {
        flex-basis: 36%;
    }

    .overlay {
        border-left: 28vw solid #ffffff;
    }

    .nav-links{
        padding-left: 5px;
        max-width: 63%;
    }

    .nav-links ul{
        padding-left: 0;
    }

    .nav-links ul li {
        margin: 0 2%;
        font-size: 0.8em;
    }

    .first .myName {
        font-size: 1.46vw;
        left: 9%;
        top: 5%;
        width: 25vw;
    }

    .myPhoto {
        width: 200px;
        top: 52%;
        left: 25%;
    }
}

@media all and (max-width: 630px){
    .menu-expand{
        display: block;
    }

    .nav-links{
        display: none;
    }

    .header01{
        margin-right: auto;
    }

    .first .myName {
        display: none;
    }

    .myPhoto {
        width: 150px;
        top: 52%;
        left: 29%;
    }
}

    /*------------ Second view --------------*/

.second{
    background-position: -15% 20%;
    background-color: #000000;
    color: white;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.8)) , url("../images/lap9.jpg");
    backdrop-filter: blur(8px);
}

.header02 h1{
    margin-top: 0.5em;
    margin-bottom: 1%;
    flex-basis: 30%;
    padding-left: 3%;
    font-family: "Work Sans", serif;
    font-size: 1.3em;
    text-decoration: none;
}

.second  .sub-header{
    height: 4%;
    background-color: #0c0c0c;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sub-header h2{
    text-align: center;
    font-family: "Work Sans", serif;
    font-size: 1.2em;
    padding-top: 1%;
}

.second #details{
    margin-top: 1%;
    background-color: transparent;
    position: absolute;
    height: 80%;
}

.second .mySlides{
    height: 100%;
}

.split {
    height: 100%;
    width: 100%;
    position:relative;
    padding-top: 20px;
}

.left {
    left: 4%;
    width: 42%;
    float: left;
}

.right {
    right: 4%;
    width: 50%;
    float: right;
    height: 100%;
    font-size: 20px;
}

.right:before{
    content: '';
    background: #fff;
    position: absolute;
    z-index: -1;
    transform: skew(2deg,2deg);
}

.right p{
    letter-spacing: 0.2em;
    word-spacing: 0.1em;
    font-family: "Vollkorn SC", serif;
    text-align: justify;
    font-size: 0.6em;
}

.left img{
    border-radius: 8px;
}

.split button{
    left: 70%;
    top: 6%; /*here*/
    position: relative;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 0.8em;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #666363;
    height: 7vh; /*here*/
    width: 11vw; /*here*/
}

#details .slide-left{
    width:30px;
    transform: rotate(90deg);
    position: absolute;
    right: 10px;
    top: 43%;
    background-color: #404040;
    border: unset;
}

#details .slide-right{
    width:30px;
    transform: rotate(270deg);
    position: absolute;
    left: 10px;
    top: 43%;
    background-color: #404040;
    border: unset;
}

.slide-left::after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

@media all and (min-width: 325px) and (max-width: 768px){
    .left {
        padding-top: 20px;
        height: 35%;
        width: 92vw;
    }
    .left > img{
        width:300px;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
    }

    .split{
        padding-top: 0;
    }

    .right {
        width: 80%;
        position: relative;
        padding-top: 0;
        right: 10%;
        height: 60%;
    }

    .right p{
        letter-spacing: 0.1em;
        word-spacing: 0.2em;
        font-family: "Vollkorn SC", serif;
        text-align: justify;
        font-size: 0.6em;
    }

    .right > p:nth-child(3){
        position: relative;
        bottom: 20px;
    }

    .split button {
        left: 70%;
        top: -5%;
        margin: 4px 2px;
        height: 4vh;
        width: 20vw;
        font-size: 0.5em;
    }

}

@media all and (max-width: 425px){
    .left {
        padding-top: 20px;
        height: 30%;
        width: 88vw;
    }
    .left > img{
        width:260px;
        right: 0;
        left: 0;
        margin: auto;
        position: absolute;
    }

    .split{
        padding-top: 0;
    }

    .right {
        width: 80%;
        position: relative;
        padding-top: 10px;
        right: 10%;
        height: 75%;
    }

    .right p{
        letter-spacing: 0.1em;
        word-spacing: 0.2em;
        font-family: "Vollkorn SC", serif;
        text-align: justify;
        font-size: 0.6em;
    }

    .right > p:nth-child(3){
        position: relative;
        bottom: 20px;
    }

    .split button {
        left: 70%;
        top: -5%;
        margin: 4px 2px;
        height: 4vh;
        width: 20vw;
        font-size: 0.5em;
    }
}

/*-------------- Third view -------------*/

.third{
    background-position: -15% 20%;
    background-color: #000000;
    color: white;
}

.header03 h1{
    margin-top: 0.5em;
    margin-bottom: 1%;
    flex-basis: 30%;
    padding-left: 3%;
    font-family: "Work Sans", serif;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

.progress{
    margin: 100px auto;
    position: absolute;
    height: 60vh;
    width: 92vw;
    left: 3vw;
    overflow: hidden;
}

.progress ul{
    background: black;
    position: relative;
    height: 90%;
    width: 150vw;
    margin: 0;
    padding: 0;
}

.progress ul li{
    text-align: center;
    display: inline-block;
    width: 19vw;
    position: relative;
    height: 45vh;
    margin: 0 35px 0 0;
    font-size: 16px;
}


.progress img{
    margin-bottom: 20px;
}

.progress ul li h2{
    position: relative;
    color: white;
    margin: 0 5px 25px 0;
    /*font-size: 2vw;*/
}

.progress ul li p{
    position: relative;
    text-align: center;
    background: #000000;
    height: 120px;
    color: #c4c4c4;
}

.progress ul li .fa{
    background: #cccccc;
    width: 30px;
    height: 22px;
    color: #ffffff;
    border-radius: 40%;
    padding-top: 3px;
}

.progress ul li .fa-check-square-o{
    /*width: 20px;*/
}

.progress ul li .fa::after{
    content: '';
    background: #c4c4c4;
    height: 5px;
    width: 25vw;
    display: block;
    position: relative;
    top: -8px;
    left: 6px;
    z-index: -1;
}

.progress ul li:nth-child(3) .fa{
    background-color: red;
}

.progress ul li:nth-child(1) .fa::after, .progress ul li:nth-child(2) .fa::after{
    background-color: deepskyblue;
}

.progress ul li:nth-child(3) .fa::after{
    background-color: red;
}

.progress ul li:nth-child(1) .fa,
.progress ul li:nth-child(2) .fa{
    background: deepskyblue;
}

@keyframes slider{
    0%,25%{
        right: 0;
    }

    50%,75%{
        right: 25vw;
    }
    100%{
        right: 40vw;
    }
}

@media all and (min-width: 500px) and (max-width: 1600px){


    .progress ul {
        width: max-content;
        animation-name: slider;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .progress ul li h2 {
        margin: 11px 0 25px 0;
        font-size: 3vw;
    }

    .progress ul li p {
        font-size: 0.8em;
        background: #000000;
    }

    .progress ul li {
        height: 45vh;
        margin: 21px 35px 0 0;
    }
    .progress ul li .fa-check-square-o {
        width: 26px;
    }

    .progress {
        margin: 120px auto;
        height: 64vh;
    }

    .progress img {
        width: 65px;
    }
}

@media all and (max-width: 500px){
    .progress ul li {
        text-align: center;
        /* display: inline-block; */
        width: 49vw;
        position: relative;
        height: 38vh;
        margin: 0 35px 0 100px;
        font-size: 16px;
        animation-name: none;
    }

    .progress ul {
        height: 70%;
        width: 90vw;
    }

    .progress {
        margin: 60px auto;
        position: absolute;
        height: 75vh;
        width: 92vw;
        left: 3vw;
        overflow: scroll;
    }

    .progress ul li .fa {
        display: none;
        background: deepskyblue;
    }
}

@keyframes slider2{
    from{
        right: 0;
    }
    to{
        right: 0;
    }
}
/*-------------- Fourth view -------------*/

.fourth{
    background-position: -15% 20%;
    background-color: #000000;
    color: white;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.8)) , url("../images/lap7.jpg");
    backdrop-filter: blur(8px);
}

.header04 h1{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 30%;
    padding-left: 30px;
    font-family: "Work Sans", serif;
    font-size: 24px;
    text-decoration: none;
}

.fourth main{
    top: 5vh;
    color: #ffffff;
    overflow-y: scroll;
    width: 64vw;
    max-height: 83vh;
    float: right;
    background-color: transparent;
    position: relative;
}

.fourth main::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #bbbbbb;
}

.fourth main::-webkit-scrollbar
{
    width: 10px;
    background-color: #6e74b1;
}

.fourth main::-webkit-scrollbar-thumb
{
    background-color: #687dc6;
    border: 2px solid #555555;
}

.tech{
    min-height: 10vh;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.tech img{
    /*width: 15%;*/
    float: left;
    height: 100%;
    padding-top: 12vh;
    background-color: transparent;
}

.tech ul{
    width: 28vw;
    margin-top: 10vh;
    padding-left: 60px;
    position: relative;
    font-size: 1.1vw;
}

.tech .skill{
    position: relative;
    height: 100%;
}

/*.skill svg{
    width: 8vw;
}*/

#number, #number2, #number3 , #number4, #number5, #number6{
    font-weight: bolder;
    color: blanchedalmond;
    position: relative;
    left: 65px;
    top: 95px;
    z-index: 1;
}

circle{
    stroke: url(#GradientColor);
    stroke-width: 1.1vw;
    stroke-dasharray: 31vw;
    stroke-dashoffset: 31vw;
    animation: anim 2s linear forwards;
}

svg{
    position: relative;
    margin-top: 2vh;
}

@keyframes anim{
    100%{
        /*stroke-dashoffset: 140; !* 17vw;*!*/
        stroke-dashoffset: 120%;
    }
}

/*------------ Fifth view --------------*/

.fifth{
    background-position: -15% 20%;
    background-color: #000000;
    color: white;
}

.header05 h1{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 30%;
    padding-left: 30px;
    font-family: "Work Sans", serif;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.fifth main {
    top: 5vh;
    color: #ffffff;
    overflow: hidden;
    width: 90vw;
    /*max-height: 79vh;*/
    margin-left: 8vw;
    background-color: transparent;
    position: relative;
    display: inline-block;
}

.fifth main .stack {
    display: grid;
    width: auto;
    height: 78vh;
    overflow-y: hidden;
    /*overflow-x: scroll;*/
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
}

.fifth main .stack img{
    width: 24vw;
}
/*------------ sixth view --------------*/

.sixth{
    background-position: -15% 20%;
    background-color: #000000;
    color: white;
}

.header06 h1{
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: 30%;
    padding-left: 30px;
    font-family: "Work Sans", serif;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

/*------------ seventh view --------------*/

.seven{
    background-position: -15% 20%;
    background-color: #000000;
    color: white;
    width: 100%;
    height: 113vh;
    position: relative;
    overflow: hidden;
    background-size: 100% 100%;
}

.header07 h1{
    margin-top: 0.5em;
    margin-bottom: 1%;
    flex-basis: 30%;
    padding-left: 3%;
    font-family: "Work Sans", serif;
    font-size: 24px;
    text-decoration: none;
}

.seven main{
    height: 80%;
}

.seven .side-left{
    float: left;
    position: relative;
    padding-top: 50px;
    padding-left: 20px;
}

.seven .side-right{
    float: right;
    position: relative;
    padding-top: 50px;
}

.seven .side-right p{
    letter-spacing: 2px;
    word-spacing: 4px;
    font-family: "Vollkorn SC", serif;
    text-align: justify;
    font-size: 15px;
    position: relative;
    right: 20px;
    top: 30px;
}

.seven .side-right div a{
    position: relative;
    right: 20px;
    top: 100px;
}

.seven .side-left #btn-call-me{
    position: relative;
    left: 40px;
    top: 25px;
    width: 400px;
    background-color: rgba(252, 208, 90, 0.66);
    border-color: rgba(252, 207, 116, 0.78);
    color: white;
    height: 35px;
}

.seven .side-left #btn-gmail{
    position: relative;
    left: 40px;
    top: 50px;
    width: 400px;
    background-color: rgba(199, 75, 75, 0.68);
    border-color: rgba(194, 87, 87, 0.8);
    color: white;
    height: 35px;
}

.seven .side-left #btn-whatsapp{
    position: relative;
    left: 40px;
    top: 75px;
    width: 400px;
    background-color: rgba(54, 168, 68, 0.82);
    border-color: rgba(74, 182, 43, 0.85);
    color: white;
    height: 35px;
}

.seven > hr{
    position: relative;
    bottom: 30px;
}

.seven footer p:nth-child(2){
    position: relative;
    top: 9px;
}

.seven footer{
    position: absolute;
    height: 70px;
    bottom: 35px;
    text-align: center;
    padding-left: 28%;
}

.seven main img{
    position: relative;
    left: 40px;
}